h1, p {
  font-family: Lato;
}

.square {
background : white ;
border : 1px solid gray ;
float: left ;
padding : 0 ;
width : 80px;
height : 80px;
margin-right : -1px;
margin-top : -1px ;
text-align : center ;
font-size : 40px ;
font-weight : bold;
line-height : 80px ;
}

.square:focus {
  outline :none ;
}

.border-row{
clear : both ;
content : "" ;
display : table ;
}